// .devise_messages
//   - if notice
//     .header
//       %p.alert.alert-success= notice
//   - if alert
//     .header
//       %p.alert.alert-danger= alert
.non_devise_messages
  - if flash
    - flash.each do |key, value|
      .header
        %p.alert
          = value