%li{:class => 'pure-menu-item'}
  .pure-menu-link
    = link_to 'Pets', :pets
%li{:class => 'pure-menu-item'}
  .pure-menu-link
    = link_to 'Categories', :pet_categories
%li{:class => 'pure-menu-item'}
  .pure-menu-link
    = link_to 'Locations', :locations
