%li{:class => 'pure-menu-item'}
  = link_to 'Pets', :pets, class: 'pure-menu-link'
// %li{:class => 'pure-menu-item'}
//   = link_to 'Categories', :pet_categories, class: 'pure-menu-link'
%li{:class => 'pure-menu-item'}
  = link_to 'Locations', :admin_locations, class: 'pure-menu-link'
%li{:class => 'pure-menu-item'}
  = link_to 'Owner Section', :admin_root, class: 'pure-menu-link'
%li{:class => 'pure-menu-item'}
  = render 'layouts/login'
