%li{:class => 'pure-menu-item'}
  = link_to 'Pets', :pets, :class => 'pure-menu-link'
%li{:class => 'pure-menu-item'}
  = link_to 'Categories', :pet_categories, :class => 'pure-menu-link'
%li{:class => 'pure-menu-item'}
  = link_to 'Locations', :locations, :class => 'pure-menu-link'
